* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: lightblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.tweet {
  background-color: #fff;
  border: 1px solid black;
  max-width: 550px;
  min-width: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin-top: 25px;
}

.red {
  font-size: 60px;
  color: red;
}